@import "../../assets/styles/global";

.settings-container{
    h2{
        text-align: center;
        font-weight: bold;
        font-size: 28px;
    }
    .container{
        width: 60%;
        margin: 25px auto;
        .map-container{
            background-color: $gray;
            border-radius: 15px;
            width: 100%;
            height: 350px;
            text-align: center;
            margin-top: 30px;
            overflow: hidden;
        }
    }
}