@import "../../assets/styles/global";

.employees-container {
  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
  }
  .add-employee-button {
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    button {
      border: none;
      outline: none;
      padding: 6px 30px;
      background-color: $purple-primary;
      color: $white;
      border-radius: 50px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 3px 6px rgba($black, 0.3);
      & > div {
        margin-left: 5px;
      }
      &:hover {
        background-color: purple;
      }
      &:active {
        transition: none;
        transform: scale(0.95);
      }
      svg {
        font-weight: bold;
        vertical-align: middle;
        font-size: 30px;
      }
    }
  }
  .search-button {
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    button {
      border: none;
      outline: none;
      padding: 6px 30px;
      background-color: $purple-primary;
      color: $white;
      border-radius: 50px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 3px 6px rgba($black, 0.3);

      &:hover {
        background-color: purple;
      }
      &:active {
        transition: none;
        transform: scale(0.95);
      }
    }
  }
  .selection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 0;
    & > div:nth-child(1) {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      margin-left: 40px;
      text-align: center;
    }
    label {
      display: inline-block;
      margin-bottom: 10px;
      font-weight: 600;
    }

    .search-item {
      input {
        background-color: #efefef;
        box-shadow: 0px 3px 6px rgba($black, 0.3);
        border-radius: 30px;
        padding: 5px 15px;
        text-align-last: center;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-weight: bold;
        cursor: pointer;
        &::placeholder {
          font-weight: bold;
        }
      }
    }
  }
  .loading-container {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .table-container {
    box-shadow: 0px 3px 6px rgba($black, 0.3);
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    margin: 50px 20px;
    border-radius: 15px;
    width: 1000px;
    max-width: 95%;
    margin: 0px auto 20px;
    max-height: 650px;
    &::-webkit-scrollbar {
      width: 0px;
      height: 6px;
    }
    // padding-top: 50px;
    table {
      border-collapse: collapse;
      width: 100%;
      min-width: 700px;
      position: relative;
      thead {
        th {
          background-color: $purple-primary;
          position: sticky;
          top: 0px;
          padding: 5px;
          font-size: 16px;
          font-weight: bold;
          color: $white;
          white-space: nowrap;
          text-align: right;
          &:nth-child(1) {
            text-align: center;
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 12px 0px;
            padding-left: 25px;
            font-weight: bold;
            font-size: 16px;
            &:nth-child(1) {
              text-align: right;
              direction: rtl;
              text-align: center;
              padding-left: 0;
              padding: 0 10px;
            }
          }
          .time {
            direction: ltr;
            text-align: end;
            padding-left: 0;
          }
          .actions {
            display: flex;
            padding-left: 0;
            span {
              margin-left: 20px;
              padding: 2px 7px;
              border-radius: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              box-shadow: 0px 3px 6px rgba($black, 0.3);

              svg {
                vertical-align: middle;
                color: $white;
                font-size: 18px;
              }
            }
            .edit {
              background-color: $purple-primary;
            }
            .delete {
              background-color: $red;
            }
          }
          &:nth-child(odd) {
            background-color: rgba($purple-primary, 0.1);
          }
        }
      }
    }
  }

  @include media(desktop-lg) {
  }
  @include media(desktop-md) {
  }
  @include media(desktop-sm) {
    .table-container {
      width: 90%;
    }
    .export-button {
      width: 90%;
    }
  }
  @include media(tablet-lg) {
  }
  @include media(tablet-md) {
  }
  @include media(tablet-sm) {
  }
  @include media(phone-lg) {
  }
  @include media(phone-md) {
  }
  @include media(phone-sm) {
    .selection {
      flex-direction: column;
      & > div:nth-child(1) {
        margin-left: 0px;
        margin-bottom: 10px;
      }
    }
  }
}
