@import "../../assets/styles/global";

.floating-box-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  min-height: 100vh;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($gray, 0.5);
  background-size: contain;
  .box-details {
    background-color: $white;
    min-width: 30%;
    width: 400px;
    padding: 20px 30px;
    box-shadow: 0px 3px 6px $gray;
    border-radius: 10px;
    max-width: 95%;
    text-align: center;
    .closing {
      cursor: pointer;
      margin: 10px 0;
      position: relative;
      top: -10px;
      width: fit-content;
      & > span {
        display: block;
        width: 20px;
        height: 5px;
        border-radius: 10px;
        background-color: $gray;
        transform-origin: center;
        position: relative;
        right: -12px;
        &:nth-child(1) {
          transform: rotate(45deg);
          top: 5px;
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
      }
      &:hover {
        opacity: 0.8;
      }
    }
    h4 {
      font-size: 20px;
      font-family: "Changa", sans-serif;

    }
    .price {
      color: $yellow-primary;
      font-weight: bold;
      margin-top: 5px;
      font-size: 40px;
      font-family: "Changa", sans-serif;
    }

    .action-buttons {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin-top: 15px;
      button {
        background-color: $yellow-primary;
        border-radius: 10px;
        outline: none;
        border: none;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        padding: 4px 50px;
        cursor: pointer;
        color: $white;
        font-weight: bold;
        font-size: 16px;
        &:hover {
          //background-color: $yellow-primary;
          transition: all 0.3s ease;
        }
        &:active {
          transition: none;
          transform: scale(0.95);
        }
      }
      .cancel-button {
        button {
          background-color: $red;
        }
      }
    }
  }
}
