@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200;400;600;700&display=swap");
/*****************************************/
body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/********************************************************/
/******************************/
/******************************/
.edit-employee-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  min-height: 100vh;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: contain;
}

.edit-employee-container .box-details {
  background-color: #ffffff;
  min-width: 30%;
  width: 400px;
  padding: 20px 30px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  max-width: 95%;
  text-align: center;
}

.edit-employee-container .box-details .closing {
  cursor: pointer;
  margin: 10px 0;
  position: relative;
  top: -10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.edit-employee-container .box-details .closing > span {
  display: block;
  width: 20px;
  height: 5px;
  border-radius: 10px;
  background-color: #dcdde1;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: relative;
  right: -12px;
}

.edit-employee-container .box-details .closing > span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
}

.edit-employee-container .box-details .closing > span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.edit-employee-container .box-details .closing:hover {
  opacity: 0.8;
}

.edit-employee-container .box-details h4 {
  font-size: 25px;
  font-weight: 900;
}

.edit-employee-container .box-details form div {
  width: 100%;
  margin: 25px 0;
}

.edit-employee-container .box-details form input {
  width: 100%;
  border-radius: 8px;
  font-weight: 600;
  text-align: right;
  background-color: #ffffff;
  outline: none;
  border: none;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.edit-employee-container .box-details form .confirmation-button {
  margin-bottom: 0;
}

.edit-employee-container .box-details form button {
  background-color: #8c7ae6;
  padding: 3px 40px;
  color: #ffffff;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 18px;
}

.edit-employee-container .box-details .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 15px;
}

.edit-employee-container .box-details .action button {
  background-color: #8c7ae6;
  border-radius: 10px;
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 4px 50px;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}

.edit-employee-container .box-details .action button:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.edit-employee-container .box-details .action button:active {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.edit-employee-container .box-details .action .cancel button {
  background-color: #f14646;
}
/*# sourceMappingURL=style.css.map */