@import "../../assets/styles/global";

.attendance-record-container {
  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
  }
  .selection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 0;
    & > div:nth-child(1) {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      margin-left: 40px;
      text-align: center;
    }
    label {
      display: inline-block;
      margin-bottom: 10px;
      font-weight: 600;
    }

    .select-item {
      position: relative;

      select {
        background-color: $purple-primary;
        box-shadow: 0px 3px 6px rgba($black, 0.3);
        border-radius: 30px;
        padding: 5px 60px;
        text-align-last: center;
        color: $white;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        -webkit-appearance: none;
        font-weight: bold;
        cursor: pointer;
      }
      span {
        position: absolute;
        left: 10%;
        top: 80%;
        display: block;
        transform: translateY(-5px) rotate(0deg);
        border: 4px solid transparent;
        border-top: 7px solid $white;
        transition: 0.3s ease;
        transform-origin: 6px 4px;
      }
    }
    .search-item {
      margin-left: 40px;

      input {
        background-color: #efefef;
        box-shadow: 0px 3px 6px rgba($black, 0.15);
        border-radius: 30px;
        padding: 5px 15px;
        text-align-last: center;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-weight: bold;
        &::placeholder {
          font-weight: bold;
        }
      }
    }
    .date-picker-container {
      .picker {
        margin-top: 0 !important;
        div {
          margin: 0;
        }
        input {
          background-color: $purple-primary;
          border-radius: 30px;
          color: $white;
          font-size: 14px;
          text-align: center;
          padding: 5px 10px;
          box-shadow: 0px 3px 6px rgba($black, 0.3);
          font-weight: bold;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
  .search-button {
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    button {
      border: none;
      outline: none;
      padding: 6px 30px;
      background-color: $purple-primary;
      color: $white;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 3px 6px rgba($black, 0.3);

      &:hover {
        background-color: purple;
      }
      &:active {
        transition: none;
        transform: scale(0.95);
      }
    }
  }
  .loading-container {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .table-container {
    box-shadow: 0px 3px 6px rgba($black, 0.3);
    overflow: hidden;
    overflow-x: auto;
    margin: 50px 20px;
    border-radius: 15px;
    width: 1000px;
    max-width: 95%;
    margin: 0px auto 20px;
    max-height: 650px;
    &::-webkit-scrollbar {
      width: 0px;
      height: 6px;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      min-width: 700px;
      thead {
        background-color: $purple-primary;
        th {
          padding: 5px;
          font-size: 16px;
          font-weight: bold;
          color: $white;
          white-space: nowrap;
          text-align: right;
          //   padding-left: 50px;
          &:nth-child(1) {
            text-align: center;
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 12px 0px;
            padding-left: 25px;
            font-weight: bold;
            font-size: 16px;
            &:nth-child(1) {
              text-align: center;
              padding-left: 0;
              padding: 0 10px;
            }
          }
          .attendance {
            padding-left: 0;
            width: fit-content;
            span {
              color: $white;
              padding: 4px 35px;
              border-radius: 50px;
              font-size: 13px;
            }
          }
          .purpleBg {
            span {
              background-color: $purple-primary;
              padding: 4px 39px;
            }
          }
          .blackBg {
            span {
              background-color: $black;
            }
          }
          &:nth-child(odd) {
            background-color: rgba($purple-primary, 0.1);
          }
        }
      }
    }
  }

  @include media(desktop-lg) {
  }
  @include media(desktop-md) {
  }
  @include media(desktop-sm) {
    .table-container {
      width: 90%;
    }
    .export-button {
      width: 90%;
    }
  }
  @include media(tablet-lg) {
  }
  @include media(tablet-md) {
  }
  @include media(tablet-sm) {
  }
  @include media(phone-lg) {
  }
  @include media(phone-md) {
  }
  @include media(phone-sm) {
    .selection {
      flex-direction: column;
      & > div:nth-child(1) {
        margin-left: 0px;
        margin-bottom: 10px;
      }
    }
  }
}
